html {
    box-sizing: border-box
}

body {
    height: 100vh;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-areas:
    "navbar"
    "main"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}

.header {
    
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------- NAVBAR ----------- */
.navbar {
    grid-area: navbar;
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    background: rgb(236, 202, 234);
    padding: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    z-index: 1;
}

.navbar-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    cursor: pointer;
}

/* HAMBURGER */
.sidebar-toggle {
    padding: .25em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    /* left: 1em;
    top: 1em; */
    z-index: 1000;
    color: black;
}

.hamburger {    
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: rgb(255, 0, 170);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }

/* SHOPPING CART ICON SIZE */
.nav-icon {
    font-size: 1.5rem;
}

.cart-btn {
    position: relative;
    cursor: pointer;
}

.cart-items {
   position: absolute;
   top: -8px;
   right: -8px;
   background: rgb(235, 107, 196);
   padding: 0 5px;
   border-radius: 30%;
   color: white;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.logo-img {
    width: 60px;
    height: auto;
}

.logo-title {
    font-family: cursive;
    color: purple;
    font-size: 40px;
    text-shadow: 2px 2px pink;

}
/*------------ END OF NAVBAR ------------ */

/* SIDE BAR */

.sidebar {
    position: fixed;
    transform: translateX(-30rem);
    width: 20rem;
    background: grey;
    color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transition: transform 250ms cubiz cubic-bezier(.5, 0, .5, 1);
}

.sidebar-list {
    display: flex;
    list-style: none;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 25px;
    padding: 5px;
}

.sidebar-list li {
    margin-top: 10px;
}

.sidebar-list a {
    color: black;
    text-decoration: none;
}

.sidebar-list a:hover {
    text-decoration: underline;
}

.sidebar-open .sidebar {
    transform: translateX(0);
}

.sidebar-open .sidebar-toggle {
    position: fixed;
}

.sidebarclose-btn {
    display: flex;
    justify-content: flex-end;
}

.sidebar-close .sidebar {
    transform: translateX(-30rem);
}

/*---------------- PRODUCTS ------------*/
.products {
    padding: 4rem 0;
}

.section-title h2 {
    text-align: center;
    font-size: 2,5rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
}

.products-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    /* grid-template-columns: repeat(4, 1fr); */
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}

.img-container {
    position: relative;
    overflow: hidden;
}

.bag-btn {
    position: absolute;
    top:70%;
    right: 0;
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    font-weight: bold;
    transform: translate(101%);
    cursor: pointer;
    background-color: orange;
}

.bag-btn:hover {
    color: white;
}

.fa-shopping-cart {
    margin-right: 0.5rem;
}

.img-container:hover .bag-btn {
    transform: translateX(0);
}

.product-img {
    display: block;
    width: 100%;
    min-height: 12rem;
    transition: cubic-bezier(.5);
}

.img-container:hover .product-img {
    opacity: 0.5;
}

.product h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    text-align: center;
}

.product h4 {
    margin-top: 0.7rem;
    text-align: center;
}
/*----------- END OF PRODUCTS -----------*/

/*------------- MEDIA QUERIES -------------*/


/*----------- CELL PHONE ---------------*/
@media(max-width: 600px) {

    .navbar-center {
        justify-content: space-around;
    }

    .logo-img {
        width: 25px;
        height: auto;
    }
    
    .logo-title {
        font-family: cursive;
        color: purple;
        font-size: 17px;
        text-shadow: 2px 2px pink;
    
    }

    .navbar-center {
        margin: 0 auto;
        padding: 0;
    }

    .nav-icon {
        font-size: 1.0rem;
    }

    .cart-items {
        top: -8px;
        right: -6px;
        padding: 0 5px;
        border-radius: 30%;
     }

     .hamburger,
.hamburger::before,
.hamburger::after {
    width: 1.5em;
}
  
}